{% extends "base.html" %}

{% block app_content %}
    <h1>Stats Summary</h1>
    {% for total in totals %}
    <div>{{ total[0] }} putts made out of {{ total[1] }} attempted</div>
    {% endfor %}
            <table class="table table-hover">
                <tr valign="top">
                   <td style="font-weight: bold;">Distance</td>
                   <td style="font-weight: bold;">Percentage</td>
                   <td style="font-weight: bold;">Putts Made</td>
                   <td style="font-weight: bold;">Putts Attempted</td>
                </tr>
            {% for sum in summary %}
                <tr>
                    <td>
                        {{ sum[0] }} feet
                    </td>
                    <td>
                        {{ (sum[1] / sum[2] * 100) |round|int}}%
                    </td>
                    <td>
                        {{ sum[1] }}
                    </td>
                    <td>
                        {{ sum[2] }}
                    </td>
                </tr>
            {% endfor %}
            </table>

{% endblock %}