{% extends "base.html" %}

{% block app_content %}
    <h1>Stats Summary</h1>
    {% for sum in summary %}
            <table class="table table-hover">
            <tr valign="top">
                <td>
                    {{ sum.number_putts_made }} out of {{ sum.number_attempts }} from {{ sum.putt_distance }} feet
                    - {{ (sum.number_putts_made / sum.number_attempts * 100) |round|int}}% all time
                </td>
                </tr>
            </table>
    {% endfor %}
{% endblock %}