{% extends "base.html" %}

{% block app_content %}
    <h1>Stats Summary</h1>
            <table class="table table-hover">
                <tr valign="top">
                   <td>Distance</td>
                   <td>Percentage</td>
                   <td>Putts Made</td>
                   <td>Putts Attempted</td>
                </tr>
            {% for sum in summary %}
                <tr>
                    <td>
                        {{ sum[0] }} feet
                    </td>
                    <td>
                        {{ (sum[1] / sum[2] * 100) |round|int}}%
                    </td>
                    <td>
                        {{ sum[1] }}
                    </td>
                    <td>
                        {{ sum[2] }}
                    </td>
                </tr>
            {% endfor %}
            </table>

{% endblock %}